@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* section margins */

.margin {
    margin: 1rem 25% 0 25%;
}

/* headings and paragraphs */

h1 {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    color: #552583;
}

h2,h3 {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    color: #552583;
    text-decoration: underline #FDB927;
}

h1,h2,h3,p {
    margin-bottom: 1.5rem;
}

/* text alignment */

.center-text {
    text-align: center;
}

/* logo */

#logo {
    height: 4.5rem;
    float: left;
}

/* nav bar and links */

#menu {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
}

#logo, #menu {
    line-height: 4.5rem;
}

#menu ul {
    float: right;
}

#menu li {
    list-style-type: none;
   margin-right: 3rem;
    font-weight: bold;
    display: inline;
}

#menu a {
    text-decoration: none;
    color: #552583;
}

#menu a:hover {
    color: #FDB927;
    border-bottom: 1px solid #FDB927;
}

.active {
    border-bottom: 1px solid #FDB927;
}

/* hero image */

#hero-outer {
    height: 31rem;
    width: 100%;
    clear: both;
    position: relative;
}

#hero-image { 
    background: url('../images/kobebanner.jpg') no-repeat center center;
    height: 31rem;
    width: 100%;
}

#hero-text {
    position: absolute;
    height: 4rem;
    width: 25rem;
    text-align: center;
    bottom: 1rem;
    right: 5rem;
}

/* biography */ 

.introduction img {
    margin:auto;
    display: block;
}

.biography img {
    margin:auto;
    display: block;
    margin-bottom: 1.5rem;
}

figcaption {
    font-size: 0.9rem;
}

/* footer */

footer {
    height: 6rem;
}

.social-links li {
    display: inline;
    margin-right: 1.5rem;
}

/* career achievement */

#career ul {
    margin-bottom: 1.5rem;
}

#career li {
    margin-bottom: 0.8rem;
}

iframe {
    margin: auto;
    display: block;
    border: 0px;
}

/* career stats */

#glossary p {
    font-size: 80%;
}

table {
    margin: 1.5rem 20%;
    border: 1px solid #552583;
    width: 60%;
    border-collapse: collapse;
}

th {
    border: 1px solid #552583;
}

th, td {
    border-left: 1px solid #552583;
}

#kobe-8-24 {
    height: 30rem;
    display: inline-block;
}

#left-8-24 {
    width: 20%;
    float: left;
}

#right-8-24 {
    width: 20%;
    float: right;
}

#center-8-24 {
    width: 60%;
    margin: auto;
    float: left;
}

/* competition */

#competition {
    background-image:  url('../images/kobe_8-vs-24.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.comp-form {
    background-color: rgba(253, 185, 39, 0.5);
    color: #000;
    font-weight: 600;
    padding: 1.25rem;
}

.input-field {
    background: rgba(255, 255, 255, 0.73);
    color: #000000;
    height: 1.5rem;
    border: 1px solid #552583;
    margin: 0.3rem 0 1.25rem 0;
}

.text-field {
    width: 80%;
}

.number-field {
    width: 15%;
}

.block {
    display: block;
}

.submission {
    margin-top: 1.5rem;
    height: 2rem;
    width: 4.5rem;
    display: block;
    background-color: #552583;
    color: #FDB927;
}

.submission:hover {
    background-color: #FDB927;
    color: #552583;
    border: 1px solid #552583;
}

/* media queries */

/* for screens 1200px and smaller */

@media screen and (max-width: 1200px) {

    /* margins */

    .margin {
        margin: 1rem 15% 0 15%;
    }

    /* hero image */

    #hero-image { 
        background-size: contain;
    }

    #hero-text {
        font-size: 0.5rem;
        width: 11rem;
        height: 3rem;
        bottom: 7rem;
        right: 5rem;
    }

    /* Kobe #8 vs #24 */

    #kobe-8-24 {
        height: 70rem;
    }

    #left-8-24, #right-8-24 {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-8-24 {
        clear: both;
        width: 100%;
        padding: 0;
        float: left;
    }
}

/* for screens 900px and smaller */

@media screen and (max-width: 900px) {

    /* margin */

    .margin {
        margin: 5rem 5% 0 5%;   
    }

    /* nav bar */

    #menu li {
        clear: left;
        float: left;
        margin-left: 2rem;
        margin-bottom: 1.5rem;
        line-height: 2rem;
    }

    /* hero image */

    #hero-outer {
        height: 20rem;
        width: 100%;
        clear: both;
    }
    
    #hero-image { 
        background-size: contain;
    }

    #hero-text {
        font-size: 0.4rem;
        width: 8rem;
        height: 3rem;
        bottom: 0.5rem;
        right: 2rem;
    }

    /* images */

    img {
        max-width: 25rem;
    }
}

@media screen and (max-width: 600px) {

    /* margin */

    .margin {
        margin-top: 8rem;
        width: 95%
    }

    /* hero image */

    #hero-outer {
        height: 15rem;
        width: 100%;
        clear: both;
    }
    
    #hero-image { 
        background-size: contain;
    }

    #hero-text {
        font-size: 0.25rem;
        width: 5rem;
        height: 0.8rem;
        bottom: -2rem;
        right: 2rem;
    }

    /* images */

    img {
        max-width: 15rem;
    }

    /* iframe */

    iframe {
        width: 20rem;
        height: auto;
    }
}