@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* headings */

h1, h2, h3 {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    color: #552583;
    text-decoration: underline #FDB927;
}

/* logo */

#logo {
    height: 75px;
    float: left;
}

/* nav bar and links */

#menu {
    font-family: 'Quicksand', sans-serif;
    font-size: 120%;
}

#logo, #menu {
    line-height: 75px;
}

#menu li {
    list-style-type: none;
    float: right;
    margin-right: 50px;
    font-weight: bold;
}

#menu a {
    text-decoration: none;
    color: #552583;
}

#menu a:hover {
    color: #FDB927;
    border-bottom: 1px solid #FDB927;
}

.active {
    border-bottom: 1px solid #FDB927;
}

/* kobe banner */

#kobe-banner {
    height: 500px;
    margin-top: 80px;
    clear: both;
}

#hof-image {
    background: url('../images/kobebanner.jpg') no-repeat center center;
    height: 500px;
    width: auto;
}

/* biography */ 

.introduction, .biography {
    margin: 50px 25% 0 25%;
}

h1,h2,h3,p {
    margin-bottom: 25px;
}

.introduction img {
    margin:auto;
    display: block;
}

.biography img {
    margin:auto;
    display: block;
    margin-bottom: 25px;
}

figcaption {
    text-align: center;
    font-size: 90%;
}

/* footer */

footer {
    height: 100px;
}

.social-links {
    text-align: center;
}

.social-links li {
    display: inline;
    margin-right: 25px;
}

/* career achievement */

#career {
    margin: 50px 25% 0 25%;
}

#career ul {
    margin-bottom: 25px;
}

#career li {
    margin-bottom: 12.5px;
}

iframe {
    margin: auto;
    display: block;
}

/* career stats */

#stats, #glossary {
    margin: 50px 25% 0 25%;
}

#glossary p {
    font-size: 80%;
}

table {
    margin: 25px 20%;
    border: 1px solid #552583;
    width: 60%;
    text-align: center;
    border-collapse: collapse;
}

th {
    border: 1px solid #552583;
}

th, td {
    border-left: 1px solid #552583;
    overflow: hidden;
}

#kobe-8-24 {
    margin: 50px 25% 0 25%;
    height: 400px;
    display: inline-block;
}

.left-8-24 {
    width: 30%;
    float: left;
    text-align: center;
}

.right-8-24 {
    width: 30%;
    float: right;
    text-align: center;
}

.center-8-24 {
    width: 40%;
    margin: auto;
}

/* competition */

#competition {
    margin: 50px 25% 50px 25%;
    background-image:  url('../images/kobe_8-vs-24.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.comp-form {
    background-color: rgba(253, 185, 39, 0.5);
    color: #000;
    font-weight: 600;
    padding: 20px;
}

.text-field {
    background: rgba(255, 255, 255, 0.73);
    color: black;
    width: 80%;
    height: 25px;
    border: 1px solid #552583;
    margin: 5px 0 20px 0;
}

.number-field {
    background: rgba(255, 255, 255, 0.73);
    color: black;
    width: 15%;
    height: 25px;
    border: 1px solid #552583;
    margin: 5px 0 20px 0;
}

.block {
    display: block;
}

.submission {
    margin-top: 25px;
    height: 35px;
    width: 75px;
    display: block;
    background-color: #552583;
    color: #FDB927;
}

.submission:hover {
    background-color: #FDB927;
    color: #552583;
    border: 1px solid #552583;
}

/* media queries */

/* for screens 1200px and smaller */

@media screen and (max-width: 1200px) {

    /* index */

    .introduction, .biography {
        margin: 50px 15% 0 15%;
    }

    /* career achievments */

    #career {
        margin: 50px 15% 0 15%;
    }

    /* career stats */

    #stats, #glossary, #kobe-8-24 {
        margin: 50px 15% 0 15%;
    }

    /* competition */
    
    #competition {
        margin: 50px 15% 50px 15%;
    }

}