@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* section margins */

.margin {
    margin: 1rem 25% 0 25%;
}

/* headings and paragraphs */

.font-quicksand {
    font-family: 'Quicksand', sans-serif;
}

.upper-text {
    text-transform: uppercase;
}

.text-purple {
    color: #552583;
}

.text-yellow {
    color: #FDB927;
}

.underline {
    text-decoration: underline #FDB927;
}

h2,h3,p {
    margin-bottom: 1.5rem;
}

/* text alignment */

.center-text {
    text-align: center;
}

/* logo */

.logo {
    height: 4.5rem;
    float: left;
    font-size: 1.5rem;
}

/* nav bar and links */

#menu {
    font-size: 1.2rem;
}

.logo, #menu, #logo-text {
    line-height: 4.5rem;
}

#menu ul {
    float: right;
}

#menu li {
    list-style-type: none;
    margin-right: 2rem;
    font-weight: bold;
    display: inline;
}

#menu a {
    text-decoration: none;
}

#menu a:hover {
    color: #FDB927;
    border-bottom: 1px solid #FDB927;
}

.active {
    border-bottom: 1px solid #FDB927;
}

/* hero image */

#hero-outer {
    height: 31rem;
    width: 100%;
    clear: both;
    position: relative;
}

#hero-image { 
    background: url('../images/hero-image.jpg') no-repeat center center;
    height: 31rem;
    width: 100%;
}

#hero-text {
    position: absolute;
    height: 1rem;
    width: 100%;
    bottom: 1rem;
}

/* biography */ 

.introduction img {
    margin:auto;
    display: block;
}

.biography img {
    margin:auto;
    display: block;
    margin-bottom: 1.5rem;
}

figcaption {
    font-size: 0.9rem;
}

.bio-images {
    width: 31.25rem;
    height: auto;
}

/* footer */

footer {
    height: 6rem;
    background-color: #FDB927;
}

footer a {
    text-decoration: none;
}

 footer ul {
     padding-top: 2rem;
}

footer li {
    display: inline;
    margin-right: 1.5rem;
}

/* career achievement */

.career ul {
    margin-bottom: 1.5rem;
}

.career li {
    margin-bottom: 0.8rem;
}

iframe {
    margin: auto;
    padding-top: 0.8rem;
    display: block;
    border: 0px;
}

/* career stats */

#glossary p {
    font-size: 80%;
}

table {
    margin: 1.5rem 20%;
    border: 1px solid #552583;
    width: 60%;
    border-collapse: collapse;
}

th {
    border: 1px solid #552583;
}

th, td {
    border-left: 1px solid #552583;
}

#kobe-8-24 {
    height: 32rem;
    display: inline-block;
}

#left-8-24 {
    width: 25%;
    float: left;
}

#right-8-24 {
    width: 25%;
    float: right;
}

#center-8-24 {
    width: 50%;
    margin: auto;
    float: left;
}

/* competition */

#competition {
    background-image:  url('../images/kobe-8-vs-24-competition-background.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-bottom: 1.5rem;
}

.comp-form {
    background-color: rgba(253, 185, 39, 0.5);
    color: #000;
    font-weight: 600;
    padding: 1.25rem;
}

.input-field {
    background: rgba(255, 255, 255, 0.73);
    color: #000000;
    height: 1.5rem;
    border: 1px solid #552583;
    margin: 0.3rem 0 1.25rem 0;
}

.text-field {
    width: 80%;
}

.number-field {
    width: 15%;
}

.block {
    display: block;
}

.submission {
    margin-top: 1.5rem;
    height: 2rem;
    width: 4.5rem;
    display: block;
    background-color: #552583;
}

.submission:hover {
    background-color: #FDB927;
    color: #552583;
    border: 1px solid #552583;
}

/* media queries */

/* for screens 1200px and smaller */

@media screen and (max-width: 1200px) {

    /* margins */

    .margin {
        margin: 1rem 15% 0 15%;
    }

    /* hero image */

    #hero-outer {
        height: 14rem;
        width: 100%;
        clear: both;
        position: relative;
    }

    #hero-image { 
        height: 14rem;
        width: 100%;
        background-size: contain;
    }

    #hero-text {
        font-size: 0.5rem;
        width: 100%;
        height: 0.1rem;
        bottom: 1rem;
        text-align: center;
    }

    /* logo */

    .logo {
        height: 3rem;
        font-size: 1.2rem;
    }

    /* nav bar and links */

    #menu {
        font-size: 0.8rem;
    }

    #menu li {
        margin-right: 1rem;
    }

    .logo, #menu {
        line-height: 3rem;
    }

    /* Kobe #8 vs #24 */

    /* The code used for this section of the @media query was taken from the Love Running project */

    #kobe-8-24 {
        height: 70rem;
    }

    #left-8-24, #right-8-24 {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-8-24 {
        clear: both;
        width: 100%;
        padding: 0;
        float: left;
    }
}

/* for screens 900px and smaller */

@media screen and (max-width: 900px) {

    /* margin */

    .margin {
        margin: 1rem 5% 0 5%;   
    }

    /* logo */

    .logo {
        height: 1.4rem;
        font-size: 0.8rem;
        line-height: 1.4rem;
    }

    /* nav bar */

    #menu {
        margin-right: 1rem;
        margin-bottom: 0.5rem;
        line-height: 1.4rem;
        font-size: 0.6rem;
    }

    #menu li {
        margin-right: 0.5rem;
    }

    /* hero image */

    #hero-outer {
        height: 10rem;
        width: 100%;
        clear: both;
        position: relative;
    }
    
    #hero-image { 
        height: 10rem;
        background-size: contain;
    }

    #hero-text {
        font-size: 0.4rem;
        width: 100%;
        height: 0.1rem;
        bottom: 0.8rem;
        text-align: center;
    }

    /* images */

    img {
        max-width: 25rem;
    }
}

@media screen and (max-width: 600px) {

    /* margin */

    .margin {
        margin: 1rem 10% 0 10%;
    }

    /* logo */

    .logo {
        padding-top: 0.2rem;
    }

    /* nav bar */

    #menu {
        clear: left;
        float: left;
        margin-left: 0.8rem;
        font-size: 0.7rem;
        padding-right: 0.5rem;
    }

    /* hero image */

    #hero-outer {
        height: 6.5rem;
        width: 100%;
        clear: both;
        position: relative;
    }
    
    #hero-image { 
        height: 6.5rem;
        background-size: contain;
    }

    #hero-text {
        font-size: 0.3rem;
        width: 100%;
        height: 0.4rem;
        bottom: 0.2rem;
        text-align: center;
    }

    /* footer */

    footer {
        height: 5rem;
    }

    footer ul {
        margin: auto;
        display: flex;
        justify-content: center;
    }

    footer li {
        width: 100%;
        font-size: 0.8rem;
        text-align: center;
    }

    /* images */

    img {
        max-width: 15rem;
    }

    /* iframe */

    iframe {
        width: 100%;
        height: auto;
    }

    /* career stats */

    #kobe-8-24 {
        height: 72rem;
    }
}

@media screen and (max-width: 400px) {

    /* nav bar */

    #menu li {
        font-size: 0.8rem;
        clear: left;
        float: left;
        line-height: 1.2rem;
    }

    /*hero image*/

    #hero-outer {
        height: 5rem;
        width: 100%;
        clear: both;
        position: relative;
    }
    
    #hero-image { 
        height: 5rem;
        background-size: contain;
    }

    /* career stats */

    #kobe-8-24 {
        height: 73rem;
    }

    table {
        font-size: 0.7rem;
    }
}